@font-face {
    font-family: 'bebasregular';
    src: url('fonts/bebas-regular-webfont.woff2') format('woff2'),
         url('fonts/bebas-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'montheavy_demo';
    src: url('fonts/mont-heavydemo-webfont.woff2') format('woff2'),
         url('fonts/mont-heavydemo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    background-color: whitesmoke;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  p {
    text-wrap: pretty;
  }

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

  #root, #__next {
    isolation: isolate;
  }

  .banner {
    height: 100vh;
    max-width: 40%;
    position: relative;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .logo {
    position: absolute;
    top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, .5);
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .logo > img {
    height: 120px;
    width: auto;
  }

  .logo-text {
    font-family: 'bebasregular';
    color: white;
    font-size: 6rem;
    width: auto;
  }

  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
  }

  .text {
    width: 55%;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 50px;
    color: #101010;
  }

  span {
    font-style: italic;
  }
  
  p+p {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  .form-field {
    padding-top: 10px;
    background-color: white;
    width: 100%;
    border: 1xp solid #D6D9DC;
    padding-bottom: 30px;
    box-shadow: 0 3px 10px -5px #A9A9A9;
  }

  .form-fields {
    max-width: 50%;
    display: flex;
    margin: 0 50px;
    gap: 50px;
  }

  .form-column {
    display: flex;
    flex: auto;
    flex-direction: column;
  }

  label {
    margin-top: 2rem;
  }

  input {
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 3px;

    width: 80%;
  }

  input:user-invalid {
    border: 1px solid red;
  }

  button {
    background-color: #10433a;
    color: white;
    margin: 40px 0 0 50px;
    border:none;
    border-radius: 7px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 7px 40px;
    box-shadow: 0 3px 10px #A9A9A9;
    transition: background-color 0.15s;
  }

  button:hover {
    background-color: #296657;
    cursor: pointer;
  }

  .link {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 30px 0 0 50px;
  }

  a {
    text-decoration: none;
    color: #10433a;
  }